@import '../../../../styles/globals.module.scss';

.titleBar {
    display: flex;
    flex-direction: column;
    gap: $spacing-100;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;

    @media (min-width: 1024px) {
        flex-direction: row;
        justify-content: space-between;
    }
}

.title {
    @extend .text-preset-2
}