@import '../../../../styles/globals.module.scss';

.container {
    display: flex;
    flex-direction: column;
    gap: $spacing-150;
    width: 100%;
}

.text {
    @extend .text-preset-4;
    color: $slate-700
}