@import '../../../../../styles/globals.module.scss';

.titleBar {
    display: flex;
    flex-direction: column;
    gap: $spacing-200;

    .header {
        @extend .text-preset-2;
        color: $white;
    }

    .text {
        @extend .text-preset-4;
        color: $slate-300;
    }
}