@import './variables'; 

// Text sizes
.text-xs {
  font-size: clamp($font-size-xs-min, $font-size-xs, $font-size-xs-max);
  line-height: $line-height-xs;
}
.text-sm {
  font-size: clamp($font-size-sm-min, $font-size-sm, $font-size-sm-max);
  line-height: $line-height-sm;
}
.text-base {
  font-size: clamp($font-size-base-min, $font-size-base, $font-size-base-max);
  line-height: $line-height-base;
}
.text-lg {
  font-size: clamp($font-size-lg-min, $font-size-lg, $font-size-lg-max);
  line-height: $line-height-lg;
}
.text-xl {
  font-size: clamp($font-size-xl-min, $font-size-xl, $font-size-xl-max);
  line-height: $line-height-xl;
}
.text-2xl {
  font-size: clamp($font-size-2xl-min, $font-size-2xl, $font-size-2xl-max);
  line-height: $line-height-2xl;
}
.text-3xl {
  font-size: clamp($font-size-3xl-min, $font-size-3xl, $font-size-3xl-max);
  line-height: $line-height-3xl;
}